@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: Montserrat;
}

@layer base{
  
  body {
    @apply bg-[#F4F4F2]  text-[#333333] tracking-wide
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl
  }

  li{
    @apply cursor-pointer
  }

  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#0c7feb] to-[#6f97ee]
  }
  input[type="email"] {
    appearance: none;
  
    width: 100%;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }

  .markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  
  .markdown h2 {
    @apply mt-12 mb-4 text-3xl leading-snug;
  }
  
  .markdown h3 {
    @apply mt-8 mb-4 text-2xl leading-snug;
  }
 
  
  
}